section {
    padding: 1rem 0.5rem;
}

.section_title {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
    font-family: 'Kaushan Script';
    font-size: 3rem;
    color: #606C38;
}

.section_subheading {
    font-family: 'Lora SemiboldItalic';
    font-size: 1.3rem;
    margin-left: 0.5rem;
}

.section_contents {
    margin: 0rem 2rem;
}

.section_contents h3 {
    margin: 1rem 0rem;
    font-size: 1.3rem;
}

.section_contents h4 {
    margin: 0.5rem 0rem;
    font-size: 1.2rem;
}

.section_contents p {
    margin: 0.5rem 0rem;
    font-size: 1.2rem;
}

.git_command {
    font-family: 'Lora Bold';
    color: #E1E6E5;
    border-radius: 30px;
    background-color: #606C38;
    padding-inline: 1rem;
}

@media only screen and (min-width:769px) {
    .section_contents {
        margin: 0rem 1rem;
    }
 
    .git_command {
    display: inline-block;
    padding: 0.2rem 0.7rem;
    margin: 0rem 0.2rem;
}


}