/*common css for header and footer*/
* {
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 100px;
    margin: 0;
    background: linear-gradient(to bottom, #A5CC82, #00467F);
}

.header-logo a {
    text-decoration: none;
    list-style: none;
    display: inline-block;
}

.header h2 {
    /*later Michelle will play with font-size/family*/
    margin: 0;
    letter-spacing: 10px;
    /*just for now some spacing between letters*/
    font-size: 3rem;
    color: brown;
}

.header-navigation {
    margin: 0;
    width: auto;
}

.menu-bar {
    display: flex;
    gap: 100px;
    margin: 0;
    padding: 20px;
}

.menu-bar li {
    list-style: none;
}

.menu-bar a {
    background-image: linear-gradient(to right, #3D7EAA 0%, #FFE47A 51%, #3D7EAA 100%)
}

.menu-bar a {
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    text-decoration: none;
    font-size: 1.5rem;
}

.menu-bar a:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

.main {
    flex-grow: 1;
    background-image: linear-gradient(-60deg, #16a085 0%, #f4d03f 100%);
}

.footer {
    text-align: center;
    text-transform: uppercase;
    padding: 24px;
    background: linear-gradient(to bottom, #A5CC82, #00467F);
}