/*common css for header and footer*/
* {
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 100px;
    margin: 0;
    background-color: chocolate;
}

.header-logo a {
    text-decoration: none;
    list-style: none;
    display: inline-block;
}

.header h2 {
    /*later Michelle will play with font-size/family*/
    margin: 0;
    letter-spacing: 10px;
    /*just for now some spacing between letters*/
    font-size: 3rem;
    color: brown;
}

.header-navigation {
    margin: 0;
    width: auto;
}

.menu-bar {
    display: flex;
    gap: 100px;
    margin: 0;
    padding: 20px;
}

.menu-bar li {
    list-style: none;
}

.menu-bar a {
    background-color: black;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 1.5rem;
}

.main {
    flex-grow: 1;
}

.footer {
    text-align: center;
    padding: 24px;
    background-color: chocolate;
}